<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.niurenjob.bullman.ShortVideo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- 【必须】消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="true"
            android:process=":QALSERVICE" />
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.activity.QRCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".push.LivePublisherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".play.LivePlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".answerplay.AnswerPlayerActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".linkmic.LinkMicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- <activity -->
        <!-- android:name="com.tencent.liteav.screencapture.TXCScreenCaptureAssistantActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent"/> -->

        <activity
            android:name=".play.VodPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videorecord.TCVideoRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".videorecord.TCVideoSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".common.activity.videopreview.TCVideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".shortvideo.choose.TCVideoChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shortvideo.joiner.TCVideoJoinerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shortvideo.joiner.TCVideoJoinerPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shortvideo.editor.TCVideoEditerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shortvideo.editor.TCVideoPreprocessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shortvideo.editor.paster.TCPasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shortvideo.editor.bubble.TCWordEditActivity"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videopublish.TCVideoPublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".videopublish.TCCompressActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".videocall.VideoCallActivity"
            android:screenOrientation="portrait" />

        <!-- 配置bugly组件的APP ID，bugly组件为腾讯提供的用于crash上报和分析的开放组件，如果您不需要该组件，可以自行移除 -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="928c8ef035" />

        <!-- 配置bugly组件的APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="RDM版本" />

        <!-- 配置bugly组件的调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <activity
            android:name=".rtcroom.ui.multi_room.RTCMultiRoomActivity"
            android:label="@string/title_activity_rtmp_room_demo"
            android:screenOrientation="portrait"
            android:theme="@style/RtmproomActivityTheme"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity
            android:name=".rtcroom.ui.double_room.RTCDoubleRoomActivity"
            android:label="@string/title_activity_rtmp_room_demo"
            android:screenOrientation="portrait"
            android:theme="@style/RtmproomActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <activity
            android:name=".liveroom.ui.LiveRoomActivity"
            android:label="@string/title_activity_rtmp_room_demo"
            android:screenOrientation="portrait"
            android:theme="@style/RtmproomActivityTheme"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".answerroom.ui.AnswerRoomActivity"
            android:label="@string/title_activity_rtmp_room_demo"
            android:screenOrientation="portrait"
            android:theme="@style/RtmproomActivityTheme"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".play.NewVodPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".webrtc.WebRTCActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>